nav ul li, footer ul li, #nav ul li {
    display: inline;
    margin-right: 20px;
    color: black;
    font-size: 30px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

h1 {
padding-left: 20px;
padding-right: 20px;
font-family:'Oswald';
color: black;
text-align: left;
font-size: 35px;
}

h2 {
padding-left: 20px;
padding-right: 20px;
font-family:'Oswald';
color: black;
text-align: center;
font-size: 30px;
}

p {
font-family:'Oswald';
color: black;
text-align: center;
font-size: 25px;
}

nav {
  background: url("bgq.png") no-repeat;
  background-size: 100% 100%;
  font-family: 'Chewy', cursive;
  font-size: 20px;
  border-bottom: thin solid black;
  padding-top: 0px;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 10px;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

#line {
    border-bottom: thin solid black;
}

body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: url("bg2.png");
  background-size: 2500px 3000px;

}

nav ul li, footer ul li, #nav ul li {
  display: inline;
  margin-right: 20px;
  color: black;
  font-size: 30px;

}

nav ul, footer ul{
  padding: 0px;
  list-style: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

#container {
  border-bottom: thin solid black;
}

#text {
  margin-left: 100px;
  margin-right: 100px;
}

#img {
  width: 130px;
  height: 120px;
  margin-bottom: -35px;
}

#help {
  border-radius: 4px;
  background-color: #f49373;
  border: none;
  color: black;
  text-align: center;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  float: right;
}

#help span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#help span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#help:hover span {
  padding-right: 25px;
}

#help:hover span:after {
  opacity: 1;
  right: 0;
}


hr {
  text-align: center;
    display: block;
    padding-top: 0px;
    margin-left: 200px;
    margin-right: 200px;
    border-style: inset;
    border-width: 1px;
}

button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover span {
  padding-right: 25px;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}

a {
  text-decoration: none;
  color: black;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #B2B3EA;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #ACCFDC;
  font-family: chewy;
}

.button:hover {
  background-color: #5f9ea0;
}

.button:active {
  background-color: #E2CO8f;
  box-shadow: 0 5px #B3B3EB;
  transform: translateY(4px);
}

.Fixed
{
    position: fixed;
    bottom:20px;
    right: 20px;
    display: inline-block;
    padding: 5px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ff8080;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #ffb3cc;
    font-family: chewy;

}
