nav {
  background: url("bgq.png") no-repeat;
  background-size: 100% 100%;
  font-family: 'Chewy', cursive;
  font-size: 20px;
  border-bottom: thin solid black;
  padding-top: 0px;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 10px;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

body {
  font-family: 'Oswald', sans-serif;
  background: url("bgqa.png") no-repeat;
  background-size: cover;
}

nav ul li, footer ul li, #nav ul li {
    display: inline;
    margin-right: 20px;
    color: black;
    font-size: 30px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

#line {
    border-bottom: thin solid black;
}

body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

nav ul li, footer ul li, #nav ul li {
  display: inline;
  margin-right: 20px;
  color: black;
  font-size: 30px;

}

nav ul, footer ul{
  padding: 0px;
  list-style: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}


#container {
  border-bottom: thin solid black;
}

#img {
  width: 10%;
  height: 10%;
  margin-bottom: -35px;
}

#help {
  float: right;
}

#help {
  border-radius: 4px;
  background-color: #f49373;
  border: none;
  color: black;
  text-align: center;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  float: right;
}

#help span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#help span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#help:hover span {
  padding-right: 25px;
}

#help:hover span:after {
  opacity: 1;
  right: 0;
}

.care {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #B2B3EA;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #ACCFDC;
  font-family: chewy;
}

.button:hover {
  background-color: #B3B3EB
}

.button:active {
  background-color: #B3B3EB;
  box-shadow: 0 5px #B3B3EB;
  transform: translateY(4px);
}
